# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# production
/build

# testing
/coverage

# react
dist
.env

# idea
.idea